<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(data) {
      var product = data;
      var inventoryText = "<strong>Available</strong>";
      if(product["inventory"] === 0){
        inventoryText = "<strong>Sold Out</strong>";
      }
      var descriptionText = "<p>" + product["description"] + "</p><p>" + inventoryText + "</p>";
      $("#product-" + id).html(descriptionText);
      var orders = product["orders"];
      var orderList = "";
      orders.forEach(function(order) {
        orderList += '<li class="js-order" data-id="' + order["id"] + '">' + order["id"] + ' - ' + order["created_at"] + '</li>';
      });
      $("#product-" + id + "-orders").html(orderList);
    });
  });
});
</script>
